params.projDir="${projectDir}"
params.outDir="${launchDir}/output"  // Default outdir if not specified with -- in the command line interface

params {
	version="0.8.1"
	binaries="https://cdn.oxfordnanoportal.com/software/analysis/dorado-${version}-linux-x64.tar.gz"
	model_4000hz="dna_r10.4.1_e8.2_400bps_sup@v5.0.0"
	model_5000hz="dna_r10.4.1_e8.2_400bps_sup@v4.1.0"
}

// ############# profiles #############
profiles {
    conda {
	conda.enabled = true
    conda.useMamba = true
	
		process {
			withName: 'FAST5_TO_POD5' {
				conda = "${projectDir}/envs/pod5.yml"
			}
		}
		process {
			withName: 'BASECALL' {
				conda = "${projectDir}/envs/pod5.yml"
			}
		}
    }

	bmrc {
		process.executor = 'slurm'
		process.cache = 'lenient'  // this may have solved the cauching issue
		//process.queue = 'short'
		process.clusterOptions = '-p short --mail-user=melodyjoy6@yahoo.co.uk --mail-type=ALL'
		process {
		 	withLabel: 'online' {
				executor = 'local'
			}
			withLabel: 'gpu' {
				clusterOptions = '-p gpu_long --gpus-per-node 1 --constraint "v100|a100"'
			}
		}
	}

}

// ########### processes ###############

process.errorStrategy = 'ignore'